body {
  background-color: #fafafa;
}
.navbar {
  background-color: white;
}
.instagram-name {
  font-family: "Billabong", cursive;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.instagram-logo {
  font-size: 40px;
}

.btns-rigth {
  margin-left: auto;
}

.nav-tabs {
  justify-content: center;
}
.nav-tabs .nav-link {
  color: grey;
  padding: 20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.post-item {
  position: relative; /*solucion para imagen */
  padding-bottom: 100%;
}

.post-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-body img {
  width: 100%;
  height: auto;
}
.post-card {
  background-color: white;
  margin-bottom: 60px;
  border-radius: 3px;
}
.post-header {
  padding: 14px 16px;
  display: flex;
  align-items: center;
}

.post-image {
  width: 100%;
  height: auto;
}
.post-actions {
  padding: 8px 16px;
}
.post-actions i {
  font-size: 24px;
  margin-right: 16px;
}
.post-likes {
  font-weight: bold;
  font-size: 14px;
}
.post-caption {
  padding: 16px;
}
.post-caption .username {
  font-weight: bold;
}
.post-date {
  padding: 8px;
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
}
